.header__authorized {
    padding-right: 104px;
    margin-top: 19px;
    margin-bottom: 13px;
}

.header__authorized_small {
    padding: 16px;
    display: none;
}

.header__authorized_mobile {
    display: none;
}



@media screen and (max-width: 768px) {
    .header__authorized {
        padding-right: 40px;
        margin: 12px 0px;
    }
}


@media screen and (max-width: 550px) {
    .header__authorized {
        display: none;
    }

    .header__authorized_small {
        display: block;
    }
}

@media screen and (max-width: 320px) {
    .header__authorized {
        display: none;
    }

    .header__authorized_small {
        display: block;
    }
    
    .header__authorized_mobile {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        display: block;
    }
}