.header__authorized {
    padding-right: 104px;
}

.header__authorized_small {
    padding: 16px;
    display: none;
}



@media screen and (max-width: 768px) {
    .header__authorized {
        padding-right: 40px;
        margin: 12px 0px;
    }
}

@media screen and (max-width: 320px) {
    .header__authorized {
        display: none;
    }

    .header__authorized_small {
        display: block;
    }

    
}