@import url(./__text/author__content__text.css);
@import url(./__title/author__content__title.css);

.author__content {
    margin-left: 56px; 
}

@media screen and (max-width: 550px) {
    .author__content {
        margin-left: 0px; 
    }
}

@media screen and (max-width: 320px) {
    .author__content {
        margin-left: 0px; 
    }
}