.popup__close {
    width: 40px;
    position: absolute;
    top: -46px;
    right: -46px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__close {
        display: none;
    }
}