.author__content__title {
    margin-top: 139px;
    font-family: 'Robotoslab', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .author__content__title {
        font-size: 30px;
        line-height: 40px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 550px) {
    .author__content__title {
        font-size: 30px;
        line-height: 40px;
        margin-top: 24px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 320px) {
    .author__content__title {
        font-size: 30px;
        line-height: 40px;
        margin-top: 24px;
        margin-bottom: 16px;
    }
}