/*@import url(./_hover/card__favorite_hover.css);
/*@import url(./_marked/card__favorite_marked.css);
@import url(./_normal/card__favorite_normal.css);
@import url(./_message/card__favorite_message.css);*/

.card__favorite {
    width: 40px;
    height: 40px;
    background: #fff;
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 10px;
    background-repeat: no-repeat;
	background-position: center;
}

.card__favorite_marked {
    background-image: url(../../../images/Rectangle8.png);
}

.card__favorite_normal {
    background-image: url(../../../images/Rectangle6.png);
}

.card__favorite_normal:hover {
    background-image: url(../../../images/Rectangle7.png);
    cursor: url(../../../images/Pointer.png), pointer;
}

.card__favorite_message {
    background: #fff;
    position: absolute;
    top: 24px;
    padding: 14px;
    right: 69px;
    border-radius: 10px;
    font-family: 'Roboto reg', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}