.footer__menu__link {
    font-family: 'Roboto reg', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1A1B22;
    text-decoration: none;
}

.footer__menu__link:first-of-type {
    min-width: 112px;
}

.footer__menu__link:last-of-type {
    min-width: 192px;
}

@media screen and (max-width: 550px) {
    .footer__menu__link {
        font-size: 18px;
        line-height: 48px;
        padding-bottom: 10px
        
    }

    .footer__menu__link:last-of-type {
        min-width: 100%;
    }
}


@media screen and (max-width: 320px) {
    .footer__menu__link {
        font-size: 18px;
        line-height: 48px;
        padding-bottom: 10px
        
    }

    .footer__menu__link:last-of-type {
        min-width: 100%;
    }
}
