.author__content__text {
    font-family: 'Roboto reg', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    display: block;
}

.author__content__text:last-of-type {
    margin-top: 24px;
}