.popup__input {
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 7px;
    margin-top: 9px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    caret-color: #2f71e5;
}

.popup__input::placeholder {
    opacity: 0.2;
}

.popup__input:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}