.main-content__description {
    margin-top: 32px;
    width: 545px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto reg', 'Arial', sans-serif;
}


@media screen and (max-width: 768px) {
    .main-content__description {
        font-size: 18px;
        line-height: 24px;
        width: 452px;
    }
}

@media screen and (max-width: 320px) {
    .main-content__description {
        font-size: 18px;
        line-height: 24px;
        width: 100%;
        margin: 16px 0px 122px;
    }
}