@import url(./__authorized/header__authorized.css);
@import url(./__item-border/header__item-border.css);
@import url(./__item-icon/header__item-icon.css);
@import url(./__item/header__item.css);
@import url(./__menu/header__menu.css);
@import url(./__non-authorized/header__non-authorized.css);
@import url(./__title/header__title.css);
@import url(./__auth-control/header__auth-control.css);

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: #fff;    
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header_white {
    color: #000;
    border-bottom: 1px solid #D1D2D6;
}