.main-content__saved__articles-count {
    margin: 28px 0px 0px;
    font-family: 'Robotoslab', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #1A1B22;
    width: 530px;
}